<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= __('index-title')%> | <%= HOST %></title>
</head>
<body>
<% include widgets/header.ejs %>
<div class="container">
    <div class="content text-center">
        <div class="fine-wrapper bg-semi-black text-left">
            <div class="row justify-content-center">
                <div class="">
                    <div class="app-title">
                        <h1 class="text-center">
                            <%-__("index-title") %>
                        </h1>
                    </div>
                    <div id="main" data-user="<%= locals.user? locals.user.username : '' %>" data-antivirus="<%= antivirus %>"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include widgets/footer.ejs %>
</body>
</html>